{% extends 'base.html' %}
{% block content %}
         
        <!-- block body here -->
        <div class="seat">
            <button class="add-student-btn"><a href="/examcontroller/newseat/" class="btn"><i class="fas fa-plus"></i>Create new Allocation</a></button>
          <form action="#">
                <form action="">
                      <label for="department">Date:</label>
                      <input type="date" name="" id="">
                       <input type="submit" value="&#128269;" style="padding: 2px 10px; border-radius: 10px;">         
                </form>
                
          </form>
          <div class="cards">
                <div class="card">
                      <h2>Class Room 1</h2>
                      <p><strong>Register Numbers:</strong> 1243 to 1260</p>
                      <p><strong>Date:</strong> [Insert Exam Date]</p>
                      <p><strong>Time:</strong> [Insert Exam Time]</p>
                </div>
          
         
                <div class="card">
                      <h2>Class Room 1</h2>
                      <p><strong>Register Numbers:</strong> 1243 to 1260</p>
                      <p><strong>Date:</strong> [Insert Exam Date]</p>
                      <p><strong>Time:</strong> [Insert Exam Time]</p>
                </div>
        
        
                <div class="card">
                      <h2>Class Room 1</h2>
                      <p><strong>Register Numbers:</strong> 1243 to 1260</p>
                      <p><strong>Date:</strong> [Insert Exam Date]</p>
                      <p><strong>Time:</strong> [Insert Exam Time]</p>
                </div>
          
      </div>
      <!-- ends -->
       </div>

    </div>


{% endblock %}
